@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{margin: 0;padding: 0;}

#mobile{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 19px;
    min-width: 260px;
}

header{
    width: 100%;
    background: black;
    min-width: 260px;
    color: white;
    padding: 20px 0;
    position: fixed;
}

p{
    width: 60%;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background: black;
    padding: 10px 0;
    color: white;
    margin: auto;
    text-align: center;
}

.container{
    width: 92%;
    align-items: center;
    margin: 0 auto;
}

.space{
    padding: 0 0 40px 0;
}

#banner{
    width: 100%;
    height: 600px;
    background: url('../img/wppr.png');
    background-size: cover;
    background-position: top;
}

.menu ul{
    width: 650px;
    margin-top: 12px;
    margin-left: 80px;
    width: 580px;
    font-size: 20px;
    display: block;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}

.menu ul li:hover{
    color: #09f;
}

#mobile{
    display: none;
    padding-left: 15px;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    float: left;
}

#logo{
    float:left;
    width: 64px;
    height: 64px;
}

#info{
    margin-top: 10px;
    float: right;
}

#info ul li{
    display: inline-block;
    list-style: none;
    color: white;
}

#info .fab{
    font-size: 22px;
    color: white;
    padding: 10px 15px;
}

#info .fab:hover{
    color: #09f;
}

.titulo{
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #5ebfd0;
    padding: 50px 0 0 0;
}

.subtitulo{
    font-size: 16px;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    padding: 20px 0;
}

#image{
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 30px;
    background: url("../img/img1.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro{
    background: #222;
    color: #aaa;
    text-align: center;
}

P{
    text-align: justify;
    text-justify: inter-word;
}

#recentGames{
    background: #333;
    color: #fff;
    text-align: center;
}

#recentArts{
    background: #222;
    color: #fff;
    text-align: center;
}

#protoberCase{
    background: #333;
    color: #fff;
    text-align: center;
}

#recentArts .box{
    border: 5px solid #333;
    padding: 10px;
}

#protoberCase .box{
    border: 5px solid #5ebfd0;
    padding: 10px;
}

.box{
    width: 260px;
    margin: 15px 5px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 25px 10px;
    border: 5px solid #5ebfd0;
    border-radius: 5px;
    color: #aaa;
    background-color: #222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box:hover{
    margin-top: 10px;
    margin-bottom: 20px;
}

.box h1{
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 25px;
    padding: 0 0 15px 0;
    color: #5ebfd0;
}

#recentGames img{
    width: 100%;
    height: 200px;
    border: 0px solid #fff;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#recentArts img{
    width: 100%;
    height: 265px;
    border: 0px solid #fff;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#protoberCase figure{
    width: 100%;
    height: 189px;
    border: 0px solid #fff;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#protoberCase .box{
    width: 336px;
}

.button{
    background-color: black;
    color: white;
    width: 200px;
    margin: 5px;
    margin-top: 45px;
    display: inline-block;
    border-radius: 5px;
    padding: 15px 25px;
    text-transform: uppercase;
    border-bottom: 4px solid #5ebfd0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover{
    border-bottom: 3px solid #a4e5e3;
    margin-top: 47px;
    margin-bottom: 4px;
}

.button:active{
    border-bottom: 1px solid #a4e5e3;
    margin-top: 49px;
    margin-bottom: 4px;
}

#contact h2{
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 15px;
}

#infoContact{
    text-align: center;
}

#infoContact li{
    display: inline-block;
    list-style: none;
    color: white;
}

#infoContact .fab{
    font-size: 22px;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
}

#infoContact .fab:hover{
    color: #09f;
}

#contactContent{
    width: 100%;
    height: 600px;
    padding-top: 100px;
    background: url('../img/wppr.png');
    background-size: cover;
    background-position: bottom;
}


#logoContact{
    margin-top: 20px;
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lightbox{
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lightbox img {
	max-width: 90%;
	height: 80%;
    margin-top: 5%;
    padding: 15px;
    background-color: #111;
    border: 5px #333 solid;
}

.lightbox:target {
	outline: none;
	display: block;
}

@media screen and (max-width: 994px){
    .container{
        width: 100%;
    }

    .menu{
        width: 100%;
        float: left;
        font-size: 32px;
        margin-left: 0px;
    }

    #logo{
        margin-right: 50px;
        margin-top: 10px;
        float: right;
    }

    .menu ul li{
        list-style: circle;
        margin-top: 5px;
        display: block;
        padding: 25px 0px 25px 70px;
        background-color: #333;
    }

    .menu ul{
        margin-top: 115px;
        width: 100%;
        margin-left: 0px;
        display: none;
    }

    #info{
        display: none;
    }

    p{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo{
        margin-left: 25px;
    }

    .subtitulo{
        margin-left: 25px;
    }

    #mobile{
        padding: 25px 65px;
        float: left;
        display: block;
    }
}