@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{margin: 0;padding: 0;}

#mobile{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

header{
    width: 100%;
    background: black;
    color: white;
    padding: 20px 0;
    position: fixed;
}

footer{
    background: black;
    padding: 10px 0;
    color: white;
    margin: auto;
    text-align: center;
}

.container{
    width: 92%;
    align-items: center;
    margin: 0 auto;
}

.space{
    padding: 0 0 40px 0;
}

#banner{
    width: 100%;
    height: 600px;
    background: url('../img/wppr.png');
    background-size: cover;
    background-position: bottom;
}

.menu ul{
    width: 650px;
    margin-top: 12px;
    margin-left: 80px;
    width: 580px;
    font-size: 20px;
    display: block;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}

.menu ul li:hover{
    color: #09f;
}

#mobile{
    display: none;
    padding-left: 15px;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    float: left;
}

#logo{
    float:left;
    width: 64px;
    height: 64px;
}

#info{
    margin-top: 10px;
    float: right;
}

#info ul li{
    display: inline-block;
    list-style: none;
    color: white;
}

#info .fab{
    font-size: 22px;
    color: white;
    padding: 10px 15px;
}

#info .fab:hover{
    color: #09f;
}

.titulo{
    font-size: 22px;
    text-transform: uppercase;
    color: #26428e;
    padding: 50px 0 0 0;
}

.subtitulo{
    font-size: 16px;
    color: #aaa;
    text-transform: uppercase;
    padding: 20px 0;
}

#image{
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 30px;
    background: url("../img/img1.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

P{
    text-align: justify;
    text-justify: inter-word;
}

#recentGames{
    background: #333;
    color: #fff;
    text-align: center;
}

#recentArts{
    background: #111;
    color: #fff;
    text-align: center;
}

#protoberCase{
    background: #333;
    color: #fff;
    text-align: center;
}

#recentGames .titulo{
    font-size: 22px;
    text-transform: uppercase;
    color: #5ebfd0;
    padding: 50px 0 0 0;
}

#recentArts .titulo{
    font-size: 22px;
    text-transform: uppercase;
    color: #5ebfd0;
    padding: 50px 0 0 0;
}

#protoberCase .titulo{
    font-size: 22px;
    text-transform: uppercase;
    color: #5ebfd0;
    padding: 50px 0 0 0;
}

#recentArts .box{
    border: 5px solid #333;
    padding: 10px;
}

#protoberCase .box{
    border: 5px solid #5ebfd0;
    padding: 10px;
}

.box{
    width: 260px;
    margin: 15px 5px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 25px 10px;
    border: 5px solid #5ebfd0;
    border-radius: 5px;
    color: #aaa;
    background-color: #111;
}

.box:hover{
    margin-top: -5px;
    margin-bottom: 35px;
}

.box h1{
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 25px;
    padding: 0 0 15px 0;
    color: #5ebfd0;
}

#recentGames figure{
    width: 100%;
    height: 200px;
    border: 0px solid #fff;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#recentArts figure{
    width: 100%;
    height: 265px;
    border: 0px solid #fff;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#protoberCase figure{
    width: 100%;
    height: 189px;
    border: 0px solid #fff;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#protoberCase .box{
    width: 336px;
}

.reflex{
    background: url("../img/reflex01.png");
}

.reflex:hover{
    background: url("../img/reflex02.png");
}

#box1{
    background: url("../img/game001.png");
}

#box2{
    background: url("../img/game002.png");
}

#box3{
    background: url("../img/game003.png");
}

#box4{
    background: url("../img/game004.png");
}

#box5{
    background: url("../img/game005.png");
}

#artbox1{
    background: url("../img/art001.png");
}

#artbox2{
    background: url("../img/art002.png");
}

#artbox3{
    background: url("../img/art003.png");
}

#artbox4{
    background: url("../img/art004.png");
}

#artbox5{
    background: url("../img/art005.png");
}

.button{
    background-color: black;
    color: white;
    width: 200px;
    margin: 5px;
    margin-top: 45px;
    display: inline-block;
    border-radius: 5px;
    padding: 15px 25px;
    text-transform: uppercase;
    border-left: 2px solid #5ebfd0;
    border-right: 2px solid #5ebfd0;
}

.button:hover{
    border-left: 6px solid #a4e5e3;
    border-right: 6px solid #a4e5e3;
    margin-top: 40px;
    margin-bottom: 10px;
}


#contact{
}

#contact h2{
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 15px;
}

#infoContact{
    text-align: center;
}

#infoContact li{
    display: inline-block;
    list-style: none;
    color: white;
}

#infoContact .fab{
    margin-top: 5px;
    font-size: 22px;
    color: white;
    padding: 10px 15px;
}

#infoContact .fab:hover{
    color: #09f;
}

#contactContent{
    width: 100%;
    height: 350px;
    padding-top: 250px;
    background: url('../img/wppr2.png');
    background-size: cover;
    background-position: top;
}

@media screen and (max-width: 994px){
    .container{
        width: 100%;
    }

    .menu{
        width: 100%;
        float: left;
        font-size: 32px;
        margin-left: 0px;
    }

    #logo{
        margin-right: 50px;
        margin-top: 10px;
        float: right;
    }

    .menu ul li{
        list-style: circle;
        margin-top: 5px;
        display: block;
        padding: 25px 0px 25px 70px;
        background-color: #333;
    }

    .menu ul{
        margin-top: 115px;
        width: 100%;
        margin-left: 0px;
        display: none;
    }

    #info{
        display: none;
    }

    p {
        margin: 25px;
    }

    .titulo{
        margin-left: 25px;
    }

    .subtitulo{
        margin-left: 25px;
    }

    #mobile{
        padding: 25px 65px;
        float: left;
        display: block;
    }
}