@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{margin: 0;padding: 0;}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

header{
    width: 100%;
    background: black;
    color: white;
    padding: 20px 0;
    position: fixed;
}

footer{
    background: black;
    padding: 10px 0;
    color: white;
    margin: auto;
    text-align: center;
}

.container{
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

.space{
    padding: 0 0 40px 0;
}

#banner{
    width: 100%;
    height: 600px;
    background: url('../img/wppr.png');
    background-size: cover;
    background-position: bottom;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}

.menu ul li:hover{
    color: #09f;
}

#mobile{
    display: none;
    padding-left: 15px;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    margin: 12px 16px;
    float: left;
}

#logo{
    float:left;
    width: 64px;
    height: 64px;
}

#info{
    width: 400px;
    margin-top: 10px;
    float: right;
}

#info ul li{
    display: inline-block;
    list-style: none;
    color: white;
    padding: 10px 15px;
}

#info .fab{
    font-size: 22px;
    color: white;
}

#info .fab:hover{
    color: #09f;
}

.titulo{
    font-size: 22px;
    text-transform: uppercase;
    color: #26428e;
    padding: 50px 0 0 0;
}

.subtitulo{
    font-size: 16px;
    color: #aaa;
    text-transform: uppercase;
    padding: 20px 0;
}

#image{
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 30px;
    background: url("../img/img1.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

P{
    text-align: justify;
    text-justify: inter-word;
}

#recentGames{
    background: #333;
    color: #fff;
    text-align: center;
}

#recentGames .titulo{
    font-size: 22px;
    text-transform: uppercase;
    color: #5ebfd0;
    padding: 50px 0 0 0;
}

.box{
    width: 300px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    padding: 5px 8px 5px 5px;
    border: 1px solid #fff;
    background-color: black;
    border-radius: 5px;
}

.box:hover{
    margin-top: -5px;
}

.box h1{
    margin-top: 25px;
    font-size: 20px;
    padding: 0 0 15px 0;
    color: #a4e5e3;
}

#recentGames figure{
    width: 100%;
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#recentGames figure:hover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reflex{
    background: url("../img/reflex01.png");
}

.reflex:hover{
    background: url("../img/reflex02.png");
}

#box1{
    background: url("../img/Game01Off.png");
}

#box1:hover{
    background: url("../img/Game01On.gif");
}

#box2{
    background: url("../img/Game02Off.png");
}

#box2:hover{
    background: url("../img/Game02On.gif");
}

#box3{
    background: url("../img/Game03Off.png");
}

#box3:hover{
    background: url("../img/Game03On.gif");
}

#box4{
    background: url("../img/Game04Off.png");
}

#box4:hover{
    background: url("../img/Game04On.gif");
}

.button{
    background-color: black;
    color: white;
    width: 200px;
    margin: 5px;
    margin-top: 45px;
    display: inline-block;
    border-radius: 5px;
    padding: 15px 25px;
    text-transform: uppercase;
    border-left: 2px solid #5ebfd0;
    border-right: 2px solid #5ebfd0;
}

.button:hover{
    border-left: 6px solid #a4e5e3;
    border-right: 6px solid #a4e5e3;
    margin-top: 40px;
    margin-bottom: 10px;
}

@media screen and (max-width: 994px){
    .container{
        width: 100%;
    }

    .menu ul li{
        display: block;
    }

    .menu ul{
        display: none;
    }

    #mobile{
        display: block;
    }
}